html,body{
	width:100%;
	padding:0;
	margin:0;
}
@media handheld,screen and (min-width: 1000px) {
/*
	Desktops
*/

/*
Container for picture on index page, followed by overlay div
*/
.topPic{
	width:100%;
	height: 600px;
	background-size: cover;
	background-position: 0px -100px;
	background-repeat:no-repeat;
	background-image: url('../2008pics/index_top.jpg');

}
.topPicOverlay{
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.3);
}
.topPicQuote{
	font-family: lato;
	font-size: 40px;
	color: white;
	width: 75%;
	float: right;
	margin: 10%;
	margin-top: 20%;
	text-align: center;
}
.index_secondContainer{
	width: 100%;
	text-align: center;
	overflow: hidden;
	height: 490px;
}
.index_secondContainer_card{
	width:30%;
	height:400px;
	display: inline-block;
	margin: 10px;
	margin-top: 20px;
	overflow: hidden;
}
.index_secondContainer_title{
	font-family: lato;
	font-size: 25px;
	color:  #0054a4;;
	float: left;
	margin:20px;
}
.index_secondContainer_descrip{
	width:80%;
	margin:auto;
	font-family: lato;
	color:  #0054a4;;
	float: left;
	text-align: left;
	margin-left: 20px;
}
/*
CSS for the about pag
*/
.about_topPic{
	width:100%;
	height:400px;
	background-size: cover;
	background-repeat:no-repeat;
	background-image: url('../2008pics/about_top.jpg');
	overflow: hidden;

}
.about_topPicOverlay{
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.3);
}
.about_topPicTitle{
	font-family: lato;
	font-size: 25px;
	width:60%;
	color:  white;
	float: left;
	margin-left:5%;
	margin-top:15%;
}
.about_secondContainer{
	width:100%;
	height:200px;
	background-color: #0054a4;
	overflow: hidden;
	text-align: center;
}
.about_secondContainerText{
	width:80%;
	font-family: lato;
	margin:auto;
	color:white;
	text-align: left;
	font-size: 25px;
	margin-top: 50px;
	margin-left: 5%;
}
.about_thirdContainer{
	width:100%;
	padding-top:50px;
	padding-bottom: 100px;
}
.about_thirdContainer_description{
	width:80%;
	margin-left:5%;
	font-family: lato;
	color:rgb(42,42,42);
	font-size: 20px;

}
.about_thirdContainer_picture{
	width:100%;
	height:400px;
	background-size: cover;
	background-repeat:no-repeat;
	background-image: url('../2008pics/about_middle.jpg');
	overflow: hidden;
	background-attachment: fixed;
}
/*
CSS for quality page
*/
.quality_subText{
	font-family: lato;
	font-size: 20px;
	width:60%;
	color:  white;
	float: left;
	margin-left:5%;
	margin-top: 30px;
}
.quality_thirdContainer_title{
	font-size: 35px;
	padding-bottom: 15px;
}

/*
CSS for solutions page
*/
.solutions_topPic{
	width:100%;
	height:400px;
	background-size: cover;
	background-repeat:no-repeat;
	background-image: url('../2008pics/solutions_top.jpg');
	overflow: hidden;
	background-attachment: fixed;
	background-position: 0px -200px;

}
.solutions_topPicOverlay{
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.3);
}
.solutions_topPicTitle{
	font-family: lato;
	font-size: 65px;
	width: 90%;
	color: white;
	float: left;
	margin-left: 5%;
	margin-top: 16%;
}
.solutions_secondContainer{
	width:100%;
	height:300px;
	overflow: hidden;
	text-align: center;
}
.solutions_secondContainerCard{
	width:45%;
	height:230px;
	margin:10px;
	margin-top: 30px;
	display: inline-block;
	background-color: rgb(240,240,240);
	-webkit-transition: 500ms ease-out 0.01s;
	-moz-transition: 500ms ease-out 0.01s;
	-o-transition: 500ms ease-out 0.01s;
	transition: 500ms ease-out 0.01s;
	cursor:pointer;
	overflow: hidden;
	text-align: center;
	-webkit-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 2px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 2px 0px rgba(50, 50, 50, 0.75);

}
.solutions_secondContainerCard:hover{
	-webkit-box-shadow: 0px 0px 7px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 7px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 7px 0px rgba(50, 50, 50, 0.75);

}
.solutions_cardTitle{
	color:#0054a4;
	font-family: lato;
	font-size: 40px;
	margin-top: 75px;
}
.solutions_productsContainer{
	width:100%;
	height:0px;
	overflow: hidden;
	
}
.solutions_productsContainer > ul {
	width: 90%;
	margin: auto;
}
.solutions_productsContainer > ul > li{
	font-family: lato;
	font-size: 25px;
	color:rgb(50,50,50);
}
.solutions_marketsContainer{
	width:100%;
	height:0px;
	overflow: hidden;
}
.solutions_marketsContainer > ul{
	list-style-type: none;
}
.solutions_marketsContainer > ul > li {
	width:95%;
	margin: auto;
	font-family: lato;
	font-size: 35px;
	color:rgb(50,50,50);
	cursor:pointer;
	padding-top: 10px;
}
.solutions_marketsContainer > ul > li > div{
	font-size:15px;
	height:0px;
	overflow: hidden;	
	-webkit-transition: 500ms ease-out 0.1s;
	-moz-transition: 500ms ease-out 0.1s;
	-o-transition: 500ms ease-out 0.1s;
	transition: 500ms ease-out 0.1s;
}
.solutions_marketsContainer > ul > li:hover div{ 
	height:150px;
	display: block;
}
.solutions_marketsContainer > ul > li:hover #specialty{ 
	height:220px;
	display: block;
}
/*
CSS for the nav
*/
.navBar{
	position: absolute;
	top:0;
	width:100%;
	height:100px;
	z-index: 100;
}
.navBar > a > #logo{
	width:100px;
	float: left;
	margin-left:50px;
	margin-top: 20px;
}
.navBar > ul{
	float: right;
	margin-top: 20px;
}
.navBar > ul > li{
	list-style: none;
	display: inline;
	margin:3px;
	padding:10px;
	-webkit-transition: 500ms ease-out 0.1s;
	-moz-transition: 500ms ease-out 0.1s;
	-o-transition: 500ms ease-out 0.1s;
	transition: 500ms ease-out 0.1s;
}


.navBar > ul > li > a{
	text-decoration: none;
	font-family: lato;
	-webkit-transition: 500ms ease-out 0.1s;
	-moz-transition: 500ms ease-out 0.1s;
	-o-transition: 500ms ease-out 0.1s;
	transition: 500ms ease-out 0.1s;
	color:white;
}
.navBar > ul > li:hover{
	background-color: #0054a4;
}
.navBar > ul > li:hover a{

}
.navBar > #hamburger{
	display: none;
}

/*
CSS for the footer
*/
.hartfooter{
	width:100%;
	bottom:0;
	height:60px;
	background-color: #0054a4;
	overflow: hidden;
}
.footerAddress{
	color:white;
	float: left;
	font-family: lato;
	font-size: 15px;
	margin:25px;
}
.haacp{
	width:55px;
	float: right;
	margin:20px;
}

.mobileModal{
	display: none;
}
#closeMobileModal{
	display: none;
}

}
@media handheld,screen and (max-width: 999px) {
/*
	Mobile
*/
/*
CSS for quality page
*/
.quality_subText{
	font-family: lato;
	font-size: 20px;
	width:60%;
	color:  white;
	float: left;
	margin-left:5%;
	margin-top: 30px;
}
.quality_thirdContainer_title{
	font-size: 35px;
	padding-bottom: 15px;
}
/*
CSS for the about pag
*/
.about_topPic{
	width:100%;
	height:400px;
	background-size: cover;
	background-repeat:no-repeat;
	background-image: url('../2008pics/about_top.jpg');
	overflow: hidden;
	background-attachment: fixed;
}
.about_topPicOverlay{
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.3);
}
.about_topPicTitle{
	font-family: lato;
	font-size: 25px;
	width: 90%;
	color: white;
	float: left;
	margin-left: 5%;
	margin-top: 30%;
}
.about_secondContainer{
	width: 100%;
	height: 459px;
	background-color: #0054a4;
	overflow: hidden;
	text-align: center;
}
.about_secondContainerText{
	width:80%;
	font-family: lato;
	margin:auto;
	color:white;
	text-align: left;
	font-size: 25px;
	margin-top: 50px;
	margin-left: 5%;
}
.about_thirdContainer{
	width:100%;
	padding-top:50px;
	padding-bottom: 100px;
}
.about_thirdContainer_description{
	width:80%;
	margin-left:5%;
	font-family: lato;
	color:rgb(42,42,42);
	font-size: 15px;
}
.about_thirdContainer_picture{
	width:100%;
	height:0px;
	background-size: cover;
	background-repeat:no-repeat;
	background-image: url('../2008pics/about_middle.jpg');
	overflow: hidden;
	background-attachment: fixed;
}
/*
CSS for solutions page
*/
.solutions_topPic{
	width:100%;
	height:400px;
	background-size: cover;
	background-repeat:no-repeat;
	background-image: url('../2008pics/about_top.jpg');
	overflow: hidden;
	background-attachment: fixed;
}
.solutions_topPicOverlay{
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.3);
}
.solutions_topPicTitle{
	font-family: lato;
	font-size: 25px;
	width: 90%;
	color: white;
	float: left;
	margin-left: 5%;
	margin-top: 30%;
}
.solutions_secondContainer{
	width:100%;
	height:300px;
	overflow: hidden;
	text-align: center;
	display: none;
}
.solutions_secondContainerCard{
	width:45%;
	height:230px;
	margin:10px;
	margin-top: 30px;
	display: none;
	background-color: rgb(240,240,240);
	-webkit-transition: 500ms ease-out 0.01s;
	-moz-transition: 500ms ease-out 0.01s;
	-o-transition: 500ms ease-out 0.01s;
	transition: 500ms ease-out 0.01s;
	cursor:pointer;
	overflow: hidden;
	text-align: center;
	-webkit-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 2px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 2px 0px rgba(50, 50, 50, 0.75);

}
.solutions_secondContainerCard:hover{
	-webkit-box-shadow: 0px 0px 7px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 7px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 7px 0px rgba(50, 50, 50, 0.75);

}
.solutions_cardTitle{
	color:#0054a4;
	font-family: lato;
	font-size: 40px;
	margin-top: 75px;
}
.solutions_productsContainer{
	width:100%;
	
}
.solutions_productsContainer > ul {
	width: 90%;
	margin: auto;
	padding-top: 10px;
}
.solutions_productsContainer > ul > li{
	font-family: lato;
	font-size: 15px;
	color:rgb(50,50,50);
}
.solutions_marketsContainer{
	width:100%;
	overflow: hidden;
	text-align: left;
}
.solutions_marketsContainer > ul{
	list-style-type: none;
	width: 100%;
	margin:auto;
}
.solutions_marketsContainer > ul > li {
	width:80%;
	font-family: lato;
	font-size: 25px;
	color:rgb(50,50,50);
	cursor:pointer;
	margin-top: 100px;
}
.solutions_marketsContainer > ul > li > div{
	font-size:15px;
	height:150px;
	-webkit-transition: 500ms ease-out 0.1s;
	-moz-transition: 500ms ease-out 0.1s;
	-o-transition: 500ms ease-out 0.1s;
	transition: 500ms ease-out 0.1s;
}
.solutions_marketsContainer > ul > li:hover div{ 
	display: block;
}
.solutions_marketsContainer > ul > li > #specialty{ 
	height:220px;
	display: block;
}


/*
Container for picture on index page, followed by overlay div
*/
.topPic{
	width:100%;
	height: 400px;
	background-size: cover;
	background-repeat:no-repeat;
	background-image: url('../2008pics/index_top.jpg');
}
.topPicOverlay{
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.3);
}
.topPicQuote{
	font-family: lato;
	font-size: 40px;
	color: white;
	width: 80%;
	float: right;
	margin: 10%;
	margin-top: 30%;
	text-align: left;
}
.index_secondContainer{
	width:100%;
	text-align: center;
	overflow: hidden;
}
.index_secondContainer_card{
	width:100%;
	margin: 10px;
	margin-top: 20px;
	overflow: hidden;
}
.index_secondContainer_title{
	font-family: lato;
	font-size: 25px;
	color:  #0054a4;;
	float: left;
	margin:20px;
}
.index_secondContainer_descrip{
	width:80%;
	margin:auto;
	font-family: lato;
	color:  #0054a4;;
	float: left;
	text-align: left;
	margin-left: 20px;
}
/*
CSS
*/

/*
CSS for the nav
*/
.navBar{
	position: absolute;
	top:0;
	width:100%;
	height:100px;
	z-index: 100;	
}
.navBar > a > #logo{
	width:100px;
	float: left;
	margin-left:50px;
	margin-top: 20px;
}
.navBar > ul{
	display: none;
}
.navBar > #hamburger{
	display: block;
	float: right;
}
.navBar > #hamburger > img{
width: 40px;
margin-right: 20px;
margin-top: 15px;
cursor:pointer;
}


/*
CSS for the footer
*/
.hartfooter{
	width:100%;
	bottom:0;
	height:60px;
	background-color: #0054a4;
	overflow: hidden;
}
.footerAddress{
	color:white;
	float: left;
	font-family: lato;
	font-size: 10px;
	margin:25px;
}
.haacp{
	width:55px;
	float: right;
	margin:20px;
	display: none;
}



/*
Modal for the mobile version of the site
*/
.mobileModal{
	position: fixed;
	width: 80%;
	overflow: hidden;
	background-color: #0054a4;;
	display: none;
	left: 50%;
	margin-left: -40%;
	margin-top: 10%;
	z-index: 1000;
	padding-bottom: 50px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}
.mobileModal > ul{
	list-style-type: none;
	width:100%;
}
.mobileModal > ul > li{
	width:100%;
	padding-top: 30px;
}
.mobileModal > ul > li > a{
	color:white;
	text-decoration: none;
	font-family: lato;
	font-size: 27px;
}
#closeMobileModal{
	display: block;
	position: absolute;
	margin: 18px;
	cursor:pointer;
}

}