html,body{
	width:100%;
	height:100%;
	padding:0;
	margin:0;
}
@media handheld,screen and (min-width: 1000px) {
/*
	Desktops
*/

/*
Container for picture on index page, followed by overlay div
*/
.topPic{
	width:100%;
	height:80%;
	background-size: cover;
	background-position: 0px -100px;
	background-repeat:no-repeat;
	background-image: url('../2008pics/index_top.jpg');

}
.topPicOverlay{
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.3);
}
.topPicQuote{
	font-family: lato;
	font-size: 40px;
	color: white;
	width: 75%;
	float: right;
	margin: 10%;
	margin-top: 20%;
	text-align: center;
}
.index_secondContainer{
	width:100%;
	text-align: center;
}
.index_secondContainer_card{
	width:30%;
	height:400px;
	display: inline-block;
	margin: 10px;
	margin-top: 20px;
	overflow: hidden;
}
.index_secondContainer_title{
	font-family: lato;
	font-size: 25px;
	color:  #0054a4;;
	float: left;
	margin:20px;
}
.index_secondContainer_descrip{
	width:80%;
	margin:auto;
	font-family: lato;
	color:  #0054a4;;
	float: left;
	text-align: left;
	margin-left: 20px;
}
/*
CSS for the nav
*/
.navBar{
	position: absolute;
	top:0;
	width:100%;
	height:100px;
	z-index: 100;
}
.navBar > a > #logo{
	width:100px;
	float: left;
	margin-left:50px;
	margin-top: 20px;
}
.navBar > ul{
	float: right;
	margin-top: 20px;
}
.navBar > ul > li{
	list-style: none;
	display: inline;
	margin:3px;
	padding:10px;
	-webkit-transition: 500ms ease-out 0.1s;
	-moz-transition: 500ms ease-out 0.1s;
	-o-transition: 500ms ease-out 0.1s;
	transition: 500ms ease-out 0.1s;
}


.navBar > ul > li > a{
	text-decoration: none;
	font-family: lato;
	-webkit-transition: 500ms ease-out 0.1s;
	-moz-transition: 500ms ease-out 0.1s;
	-o-transition: 500ms ease-out 0.1s;
	transition: 500ms ease-out 0.1s;
	color:white;
}
.navBar > ul > li:hover{
	background-color: #0054a4;
}
.navBar > ul > li:hover a{

}
.navBar > #hamburger{
	display: none;
}

/*
CSS for the footer
*/
.hartfooter{
	width:100%;
	bottom:0;
	height:50px;
	background-color: #0054a4;
}
.footerAddress{
	color:white;
	float: left;
	font-family: lato;
	font-size: 15px;
	margin:15px;
}
.haacp{
	width:55px;
	float: right;
	margin:15px;
}

}
@media handheld,screen and (max-width: 999px) {
/*
	Mobile
*/


/*
Container for picture on index page, followed by overlay div
*/
.topPic{
	width:100%;
	height:80%;
	background-size: cover;
	background-repeat:no-repeat;
	background-image: url('../2008pics/index_top.jpg');
}
.topPicOverlay{
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.3);
}
.topPicQuote{
	font-family: lato;
	font-size: 40px;
	color: white;
	width: 80%;
	float: right;
	margin: 10%;
	margin-top: 30%;
	text-align: left;
}
.index_secondContainer{
	width:100%;
	text-align: center;
}
.index_secondContainer_card{
	width:100%;
	margin: 10px;
	margin-top: 20px;
	overflow: hidden;
}
.index_secondContainer_title{
	font-family: lato;
	font-size: 25px;
	color:  #0054a4;;
	float: left;
	margin:20px;
}
.index_secondContainer_descrip{
	width:80%;
	margin:auto;
	font-family: lato;
	color:  #0054a4;;
	float: left;
	text-align: left;
	margin-left: 20px;
}

/*
CSS for the nav
*/
.navBar{
	position: absolute;
	top:0;
	width:100%;
	height:100px;
	z-index: 100;	
}
.navBar > a > #logo{
	width:100px;
	float: left;
	margin-left:50px;
	margin-top: 20px;
}
.navBar > ul{
	display: none;
}
.navBar > #hamburger{
	display: block;
	float: right;
}
.navBar > #hamburger > img{
width: 40px;
margin-right: 20px;
margin-top: 15px;
}


}